<table>
  <% for( var day = 1; day <= days; day++ ) {  %>
    <% for( var hour = startHour; hour <= endHour; hour++ ) {  %>
      <tr>
        <% for( var column = 1; column <= columns; column++ ) {  %>
          <td>day:<%= day%> column:<%= column %> hour:<%= hour %></td>
        <% } %>
      </tr>        
    <% } %>
  <% } %>
</table>